In [1]:
3+4

7

#### Variables

In [2]:
student="SRujana"

In [3]:
student

'SRujana'

In [4]:
student="Nicy"

In [5]:
student

'Nicy'

In [6]:
student="Hannah"

In [7]:
student

'Hannah'

#### DATA TYPE ( numbers)

In [8]:
a1=10

In [9]:
a1

10

In [10]:
type(a1)

int

In [11]:
a1=3.14
a1

3.14

In [12]:
type(a1)

float

In [13]:
a1=True

In [14]:
type(a1)

bool

In [15]:
a1

True

In [16]:
a1=3+4j

In [17]:
a1

(3+4j)

In [18]:
type(a1)

complex

#### Operators

In [19]:
#operators:+,-,*,/(arthimetic)

In [20]:
a=10
b=20

In [21]:
a+b

30

In [22]:
a-b

-10

In [23]:
a/b

0.5

In [24]:
a*b

200

In [25]:
#relational-<,>,==,!=

In [26]:
a<b

True

In [27]:
a>b

False

In [28]:
a==b

False

In [29]:
a!=b

True

In [30]:
#logical-|,&

In [31]:
a=True
b=False

In [32]:
a&b

False

In [33]:
a|b

True

In [34]:
b&a

False

In [35]:
b&b

False

In [36]:
a&a

True

In [37]:
a|a

True

In [38]:
b|b

False

In [39]:
b|a

True

#### Tokens

In [1]:
x=True

In [2]:
x

True

In [3]:
True=10

SyntaxError: can't assign to keyword (<ipython-input-3-f9c1faaf4ad0>, line 1)

#### Identifiers

In [4]:
a1=10
A1=20

In [5]:
a1

10

In [6]:
A1

20

#### Strings

In [7]:
str1="abc"

In [8]:
str1

'abc'

In [9]:
type(str1)

str

In [10]:
str2='abc'

In [11]:
str2

'abc'

In [12]:
type(str2)

str

In [13]:
str3='''This
is 
Srujana'''

In [14]:
str3

'This\nis \nSrujana'

In [15]:
#extracting individual character from a string

In [16]:
str="My name is Srujana"

In [17]:
str[11]

'S'

In [18]:
str[-1]

'a'

In [19]:
str

'My name is Srujana'

In [20]:
#length

In [21]:
len(str)

18

In [22]:
#lower (small case alphabets)

In [23]:
str.lower()

'my name is srujana'

In [24]:
#upper(capital alphabets)

In [25]:
str.upper()

'MY NAME IS SRUJANA'

In [26]:
#replace a string

In [27]:
str

'My name is Srujana'

In [28]:
str.replace("Srujana","Nicy")

'My name is Nicy'

In [29]:
str.count("i")

1

In [31]:
str.count("y")

1

In [32]:
str

'My name is Srujana'

In [33]:
str.find("Srujana")

11

In [34]:
str.split("is")

['My name ', ' Srujana']

In [35]:
x="I'm learning Python"

In [36]:
x

"I'm learning Python"

In [37]:
x.replace('n','s')

"I'm learsisg Pythos"

#### Data structures in python

In [38]:
#tuple

In [39]:
tup1=(1,'a',True,'b',23,45)

In [40]:
tup1

(1, 'a', True, 'b', 23, 45)

In [41]:
type(tup1)

tuple

In [42]:
tup1[0]

1

In [43]:
tup1[0:2]

(1, 'a')

In [44]:
tup1[0:3]

(1, 'a', True)

In [45]:
tup1[0]=100

TypeError: 'tuple' object does not support item assignment

In [46]:
tup1[5]="CSE"

TypeError: 'tuple' object does not support item assignment

In [47]:
#list

In [48]:
l1=[1,'a',True]

In [49]:
l1

[1, 'a', True]

In [50]:
type(l1)

list

In [51]:
l1[0]

1

In [52]:
l1[0:3]

[1, 'a', True]

In [53]:
l1[0]=100

In [54]:
l1

[100, 'a', True]

In [55]:
l1.append("S")

In [56]:
l1

[100, 'a', True, 'S']

In [57]:
l1.append(1,2,3,4,5)

TypeError: append() takes exactly one argument (5 given)

In [58]:
l1.append([1,2,3,4,5])

In [59]:
l1

[100, 'a', True, 'S', [1, 2, 3, 4, 5]]

In [60]:
l1.pop()

[1, 2, 3, 4, 5]

In [61]:
l1

[100, 'a', True, 'S']

In [62]:
l1.pop()

'S'

In [63]:
l1

[100, 'a', True]

In [64]:
#dictionary

In [65]:
d1={"Mango":45,"Apple":30,"Orange":35}

In [66]:
d1

{'Mango': 45, 'Apple': 30, 'Orange': 35}

In [67]:
d1.keys

In [68]:
d1.values

In [69]:
d1.keys()

dict_keys(['Mango', 'Apple', 'Orange'])

In [70]:
d1.values()

dict_values([45, 30, 35])

In [71]:
d1["Mange"]=100

In [72]:
d1

{'Mango': 45, 'Apple': 30, 'Orange': 35, 'Mange': 100}

In [73]:
d1["Mango"]=100

In [74]:
d1

{'Mango': 100, 'Apple': 30, 'Orange': 35, 'Mange': 100}

In [75]:
#set

In [76]:
s1={1,'a',3,3}

In [77]:
s1

{1, 3, 'a'}

In [78]:
s1.add("Hello")

In [79]:
s1

{1, 3, 'Hello', 'a'}

In [80]:
s1.update("World","hai")

In [81]:
s1

{1, 3, 'Hello', 'W', 'a', 'd', 'h', 'i', 'l', 'o', 'r'}

In [82]:
s1.update(["hi","world"])

In [83]:
s1

{1, 3, 'Hello', 'W', 'a', 'd', 'h', 'hi', 'i', 'l', 'o', 'r', 'world'}